* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
    font-family: 'Lato', sans-serif;
}

p, ::placeholder {
    font-family: 'Roboto', sans-serif;
}

.descripcion-principal-web {
    font-size: 22px;
}

.footer {
    display: flex;
    background: rgb(90, 90, 90);
    color: white;
    font-weight: bold;
    height: 150px;
    align-items: center;
    padding: 120px;
    justify-content: space-between;
}

.titulo-pagina-uno, .subtitulo-pagina-uno{
    color: brown;
    font-weight: bold;
}

.parrafo-pagina-uno {
    color: rgb(77, 0, 0);
    font-style: italic;
}

.titulo-pagina-dos, .subtitulo-pagina-dos{
    color: rgb(4, 9, 88);
    font-weight: bold;
}

.parrafo-pagina-dos {
    color: rgb(68, 47, 189);
    font-style: italic;
}